{{extend 'layout.html'}}

<h2>{{=rq.args(0).replace('_',' ').capitalize()}}</h2>

{{=form}}

{{if rq.args(0)=='Login':}}
  <a href="{{=URL(r=rq,args='register')}}">Регистрация</a><br />
  <a href="{{=URL(r=rq,args='retrieve_password')}}">
    Восстановление пароля</a><br />
{{pass}}
